body{
background-color: #ADAFB2;
}

header {
height: 300px;
}
header > div {
height: 100%;
	background-image: url("../pics/chris1_thumb.jpg");
	background-repeat: no-repeat;
}
h1 {
color: white;
}

a {
color: #FFCB05;
}
a:hover {
color: #FFCB05;
}
.choice {
color: white;
text-decoration: none;
}

/* Row class style */
.myrow > div:first-child{
cursor: pointer;
}
.row {
	margin-bottom: 0px;
}
.myrow {
border: solid white 1px;
color: white;
padding: 0px 2%;
}
.myrow:nth-child(odd){
background-color: #6F2A8E;
}
.myrow:nth-child(even){
background-color: #0F6CB6;
}

