body{
background-color: #ADAFB2;
}

a {
color: #FFCB05;
}
a:hover {
color: #FFCB05;
}
.choice {
color: #FFCB05;
text-decoration: none;
}

/* Row class style */
.row {
margin-bottom: 0px;
}
.myrow {
color: white;
padding: 0px 2%;
}
.myrow{
background-color: #333333;
}
.myrow:first-of-type {
border-top: solid white 4px;
}
.myrow:last-of-type {
border-bottom: solid white 4px;
}

.button:hover, .button:focus {
color: white;
}

/* Let's get this header */
.head {
height: 300px;
margin-bottom: -110px;
background-color: #003162;
color: white;
}
.head > div {
height: 180px;
background-repeat: no-repeat;
}
.head > div:first-child {
background-image: url("../pics/umich_thumb.png");
}
@media (max-width: 1000px) {
	.head > div:first-child {
	display: none;
	}
	.head {
	text-align: center;
	margin-bottom: -40px;
	}
}
@media (min-width: 500px) {
	.shide {
	padding-top: 20px;
	padding-bottom: 20px;
	}
}
.head > div:nth-child(2) {
vertical-align: middle;
}
h1 {
padding-top: 30px;
color: #FFCB05;
}
nav a {
font-size: x-large;
}

textarea {
color: black;
}
footer {
text-align: center;
}
