body{
background-color: #ADAFB2;
}

a {
color: #FFCB05;
}
a:hover {
color: #FFCB05;
}
.choice {
color: white;
text-decoration: none;
}

/* Row class style */
.row {
margin-bottom: 0px;
}
.myrow {
border: solid white 1px;
color: white;
padding: 0px 2%;
}
.myrow:nth-child(odd){
background-color: #333333;
}
.myrow:nth-child(even){
background-color: #003162;
}
.myrow:first-of-type {
border-top: solid white 4px;
}
.myrow:last-of-type {
border-bottom: solid white 4px;
}

/* Let's get this header */
.head {
height: 300px;
margin-bottom: -110px;
background-color: #003162;
color: white;
}
.head > div {
height: 180px;
background-repeat: no-repeat;
}
.head > div:first-child {
background-image: url("../pics/umich_thumb.png");
}
@media (max-width: 1000px) {
	.head > div:first-child {
	display: none;
	}
	.head {
	margin-bottom: -40px;
	}
}
.head > div:nth-child(2) {
vertical-align: middle;
}
h1 {
margin-top: 40px;
color: #FFCB05;
}

textarea {
color: black;
}
footer {
text-align: center;
}
